@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

table {
  width: 100%;
}

#example_filter {
  float: right;
}

#example_paginate {
  float: right;
}

label {
  display: inline-flex;
  margin-bottom: .5rem;
  margin-top: .5rem;

}

.select-page-size {
  position: absolute;
  right: 15.3rem;
  top: 0.9rem;
}

.change-columns-btn {
  position: absolute;
  right: 10rem;
  top: 1rem;
}

.edit-order-btn{
  position: absolute;
  right: 20rem;
  top: 1rem;
}
