@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

table {
  width: 100%;
}

#example_filter {
  float: right;
}

#example_paginate {
  float: right;
}

label {
  display: inline-flex;
  margin-bottom: .5rem;
  margin-top: .5rem;

}

.select-page-size {
  position: absolute;
  right: 140px;
  top: 18px;
  .select-button {
    min-width: 1rem!important;
  }
}
